# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Generated NexScan files
exports/
scans/
nexscan

# Environment / secrets
.env
.env.*

# Logs / temporary files
*.log
*.tmp

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db